<h1>Entrar</h1>
<form method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% for field in form %}
    <div class="form-row">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <div class="error">{{ field.errors }}</div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn">Entrar</button>
    </div>
</form>
<p>Não tem conta? <a href="{% url 'signup'}">Cadastre-se</a></p> 